.checkout {
  width: 100%;
  min-height: 725px;
  display: flex;
}
.checkout form {
  width: 58%;
  min-height: 725px;
  background-color: #fafaff;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-wrap:wrap;
}
.checkout form h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #363654;
  margin: 50px 0;
}
.checkout form>div{
    width:48%;
    height: 75px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.checkout form>.phone{
    width:100%;
    display:flex;
    flex-wrap:wrap;
        flex-direction: row;
        justify-content: flex-start;
}
.checkout form>.phone input{
    width:85%;
  
}

.checkout form>.phone span{
  background: #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 49px;
    height: 63%;
    font-size: 14px;
    border: 2px solid #D4D4DE;
    min-width: 6%;
    margin:0 10px;
}
.checkout label{
    font-size: 14px;
    font-weight: 500;
    color: #344054;
    width:100%;
margin:5px 0;
}
.checkout input{
    width:100%;
    height:50px;
        font-size: 16px;
    font-weight: 400;
    color: #667085;
    border-radius: 8px;
    border: 2px solid #D4D4DE;
    padding: 0 15px;
}
.order-summary {
  width: 42%;
  min-height: 725px;
  background-color: #f6f6f8;
}
.select__control {
  min-height: 45px !important;
  height: 45px !important;
}

.select__input-container {
    height: 35px !important;

}
#Address{
    height:88px;
}
.checkout form>div:last-of-type{
    width:100%;
height:115px;
}
.checkout button{
    width: 100%;
    height: 60px;
    background: #6064BF;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
}