.main-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 8px;
}
.main-section .product-images {
  width: 48%;
  height: 100%;
  min-width: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main-section .swiper-slide {
  width: 100px !important;
}
.main-product-image {
  width: 100%;
  height: 380px;
  position: relative;
}
.swiper-pagination {
  display: none;
}
.sub-product-images {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-between;
}
.sub-image {
  width: 180px;
  height: 100%;
  background: gray;
  position: relative;
}
.sub-product-images::-webkit-scrollbar {
  height: 6px;
}

.sub-product-images::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.product-images .swiper-wrapper {
  gap: 40px;
}
.sub-image {
  flex: 0 0 auto;
  width: 110px;
  height: 90px;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.product-images .swiper {
  padding: 10px !important;
}
.product-images img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.sub-image:hover {
  border-color: #888;
}

.sub-image.active {
  border-color: #0070f3;
  transform: scale(1.05);
}

.main-section .product-info {
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  min-width: 450px;
  min-height: 500px;
  padding: 0 1%;
  display: flex;
  height: fit-content;
}
.main-section .product-info h1 {
  font-size: 40px;
  font-weight: 700;
  color: #28283e;
}
.product-info > * {
  margin: 8px 0;
}
.product-info-review {
  width: 100%;
  max-width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}
.product-info-review svg {
  color: gold;
  fill: gold;
}
.product-info-review span:first-child {
  color: #28283e;
}
.product-info-review span:nth-child(2) {
  height: 16px;
}
.product-info-review span:last-child {
  color: #8d8da5;
}
.product-info-description {
  font-size: 18px;
  font-weight: 400;
  color: #69698c;
}
.product-info-warranty {
  width: 100%;
  min-height: 65px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info-warranty div {
  height: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.product-info-warranty div span:first-child {
  width: 32px;
  height: 32px;
}
.product-info-warranty div span:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #4f4f72;
  text-align: center;
}
.product-info-price {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  color: #28283e;
  width: fit-content;
}
.product-info-price span:first-child {
  font-size: 22px;
  transform: translateY(-20px);
  font-weight: 600;
}
.product-info-price span:nth-child(2) {
  margin: 0 5px;
}
.product-info-price span:last-child {
  font-size: 18px;
  font-weight: 500;
  color: #ff5d59;
}

.product-info-vat {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  color: #8d8da5;
  justify-content: space-evenly;
}
.product-info-vat span:first-child {
  font-size: 14px;
  font-weight: 600;
}
.product-info-Quantity {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.Quantity,
.size-select,
.model-select {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #28283e;
  width: 100%;
  max-width: 180px;
}
.product-info-Quantity span {
  margin: 0 10px 0 0;
}
.Quantity > div,
.product-info-Quantity select {
  border: 2px solid #6064bf;
  width: 120px;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.product-info-Quantity button {
  color: #6064bf;
  border: none;
  height: fit-content;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
}
.product-info-btns {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-info-btns button {
  width: 100%;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  background: #6064bf;
}

.how-to-use {
  width: 100%;
  min-height: 160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.how-to-use > div {
  width: 48%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}
.how-to-use h2 {
  font-size: 22px;
  font-weight: 600;
  color: #363654;
  margin-bottom: 8px;
}

.how-to-use p {
  font-size: 16px;
  font-weight: 500;
  color: #8d8da5;
}
.how-to-use ol {
  padding-left: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #8d8da5;
  line-height: 30px;
}
.feedback {
  width: 100%;
  height: 425px;
}

.feedback .swiper {
  overflow: visible !important;
  overflow-x: clip !important;
}
.feedback .swiper-slide {
  width: 330px !important;
  height: 425px !important;
  background-color: #fff;
  z-index: 1;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 30px;
}

.feedback .swiper-slide::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 50px;
  height: 50px;
  background: url("../images/feed.svg") no-repeat;
  z-index: 9;
  left: 25px;
}

.feedback .swiper-slide > * {
  position: relative;
  z-index: 1;
}
.feedback .swiper-slide h1 {
  font-size: 20px;
  font-weight: 600;
  color: #363654;
  margin-top: 20px;
}
.feedback .swiper-slide p {
  font-size: 14px;
  font-weight: 400;
  color: #4f4f72;
}
.feedback .swiper-slide .Stars svg {
  fill: #ff5d59;
  color: #ff5d59;
}
.feed-profile {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: #6064bf;
}
.product-details {
  width: 100%;
  min-height: 700px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.product-details h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  color: #28283e;
  margin: 50px 0;
}
.product-details div {
  width: 48%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.product-details div h3 {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 700;
  color: #69698c;
}
.product-details div p {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
  color: #8d8da5;
}
.join {
  width: 100%;
  height: 466px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f6f6f8;
  gap: 10px;
}
.join > div:first-child {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.join > div:last-child {
  width: 370px;
  height: 100%;
  position: relative;
}
.join h1 {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 800;
  color: #28283e;
}
.join span {
  color: #6064bf;
}
.join p {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
  color: #69698c;
}
@media (max-width: 1000px) {
  .join > div:last-child {
    display: none;
  }
  .join > div:first-child {
    width: 100%;
    text-align: center;
  }
  .main-section .product-info,
  .main-section .product-images {
    width: 100%;
    min-width: 100%;
  }

  .how-to-use > div {
    min-width: 100%;
    width: 100%;
    margin: 15px;
    padding-right: 10px;
  }
}
.benefits {
  width: 100%;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.benefits h1 {
  font-size: clamp(25px, 4vw, 40px);
  font-weight: 600;
  color: #28283e;
}
.benefits-boxes {
  width: 100%;
  min-height: 215px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.benefits-boxes > div {
  width: 100%;
  max-width: 200px;
  min-height: 190px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.benefits-boxes span {
  width: 40px;
  min-height: 40px;
}
.benefits-boxes h4 {
  font-size: 20px;
  font-weight: 500;
  color: #363654;
  text-align: center;
}
.benefits-boxes p {
  font-size: 16px;
  font-weight: 400;
  color: #69698c;
  text-align: center;
}

.feedback {
  margin-bottom: 50px;
}
.statics ,.clients{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
      margin: 40px 0;
}
.statics h1 ,.clients h1{
    font-size:clamp(30px , 4vw, 40px);
  font-weight: 700;
  color: #28283e;
  width:100%;
  margin-bottom:20px;
}
.statics>div{
  width: 250px;
    border-radius: 10px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
      background-color: #fff;
  box-shadow: 0 0 10px gray;
  margin:10px;
}
.statics span{
  font-size:clamp(30px , 4vw, 40px);
  font-weight: 700;
  color: #ff5d59;
}
.statics span:last-of-type{
  font-size:18px;
  color: gray;
}
.clients>div{
  width:22%;
  max-width:300px;
  min-width:150px;
  height:100px;
  position:relative;
  margin:10px;
}
@media (max-width: 500px) {
  .join {
    height: 250px;
  }
  .benefits-boxes h4,
  .benefits-boxes p {
    text-align: start;
  }
  .benefits-boxes > div {
    align-items: flex-start;
  }
  .float-box h1 {
    width: 100%;
    text-align: center;
  }
  .float-box > div {
    justify-content: space-around;
    width: 100%;
  }
  .float-left > div:first-child {
    width: 100%;
  }
  .float-box button {
    width: 100%;
  }
  .product-info-warranty div {
    max-width: 60px;
  }

  .benefits-boxes > div {
    max-width: 100%;
  }
  .product-details div {
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: flex-end;
  }
  .product-details div p {
  }
  .Quantity,
  .size-select,
  .model-select {
    max-width: 100%;
  }
}

.whatsapp-web {
  display: flex;
}
.whatsapp-mobile {
  display: none;
}

@media (max-width: 768px) {
  .whatsapp-web {
    display: none !important;
  }
  .whatsapp-mobile {
    display: flex !important;
  }
}
