:root {
  --background: #fafaff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  background: var(--background);
  font-family: var(--font-Inter);
}
header {
  width: 100%;
  height: 95px;
  background-color: #fff;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 100px;
  height: 100%;
}
header .header-icons {
  width: 150px;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: #4f4f72;
  font-weight: 600;
}
.header-icons div {
  width: 80px;
  border: 2px solid #a8a8be;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}
.header-icons span::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 25%;
  border: 2px solid #4f4f72;
  left: 10%;
}
.header-icons div:hover span::after {
  background-color: #4f4f72;
}
main {
  width: 94%;
  margin: 50px auto 0;
}
section{
  margin-bottom:100px ;
}